@model Models.Faculty

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UniversityId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UniversityId)
        </dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Back to Faculty List", "Index", new { universityId = Model.UniversityId })
</p>
<p>
    @Html.ActionLink("See Programmes", "Index", "Programmes", new { facultyId = Model.Id }, null)
</p>
<p>
    @Html.ActionLink("Check Reviews", "Faculty", "Reviews", new { id = Model.Id }, null)
</p>
<p>
    @Html.ActionLink("Add a review", "FacultyReview", "AddReview", new { facultyId = Model.Id }, null)
</p>

@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Administrator"))
    {
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        </p>
    }
}