@model Models.Faculty

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Back to Faculty List", "Index", new { universityId = Model.UniversityId })
</p>
<p>
    @Html.ActionLink("See Programmes", "Index", "Programmes", new { facultyId = Model.Id }, null)
</p>
<p>
    @Html.ActionLink("Check Reviews", "Faculty", "Reviews", new { id = Model.Id }, null)
</p>
<p>
    @Html.ActionLink("Add a review", "FacultyReview", "AddReview", new { facultyId = Model.Id }, null)
</p>

@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Administrator"))
    {
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        </p>
    }
}

<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<div id="chartContainer" style="height:300px; width: 100%;"></div>

<script type="text/javascript">

    window.onload = function () {
        var chart = new CanvasJS.Chart("chartContainer", {
            theme: "light2",
            animationEnabled: true,
            title: {
                text: "OVERVIEW"
            },
            subtitles: [
                { text: "Faculty rating by users" }
            ],
            axisX:{
				valueFormatString: "#" ,
				interval: 1
			},
            data: [
                {
                    type: "column", //change type to bar, line, area, pie, etc
                   dataPoints: @Html.Raw(ViewBag.DataPoints)

                }
            ]
        });
        chart.render();
    };
</script>