@model Webserver.Models.Faculty

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Faculty</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UniGuid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UniGuid)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("See Programmes", "Index")
</p>
<p>
    @Html.ActionLink("Check Reviews", "Faculty", "Reviews", new { id = ViewBag.FacultyId }, null)
</p>
<p>
    @Html.ActionLink("Back to Faculty List", "Index", "Faculties", new { universityId = ViewBag.UniversityId }, null)
</p>
