@model Models.University

@{
    ViewBag.Title = "Reviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoundingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoundingDate)
        </dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Back to List", "Index", "Universities")
</p>
<p>
    @Html.ActionLink("See Faculties", "Index", "Faculties", new { universityId = Model.Id }, null)
</p>
<p>
    @Html.ActionLink("Check Reviews", "University", "Reviews", new { id = Model.Id }, null)
</p>
<p>
    @Html.ActionLink("Add a review", "UniversityReview", "AddReview", new { universityId = Model.Id }, null)
</p>

@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Administrator"))
    {
        <p>
            @Html.ActionLink("Edit", "Edit", "Universities", new { id = Model.Id }, null)
        </p>
    }
}